.signup-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background: rgb(239 239 239);
    border-radius: 10px;
}

.signup-button {
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    background: var(--background-btn);
    color: white;
}
